<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Document</title>
  </head>
  <body>

    <header>

      <h1 id="main-heading"> My Library </h1>

      <h2 id="secondary-heading"> Add Book </h2>

      <button id="open-addBook-modal">Open</button>
      <br />

      <button id="open-addBook-modal" class="clearBtn">Clear</button>

    </header>

    <main>
          
        {{{body}}}

    </main>

  </body>
</html>