<div class="modal-container" id="main-modal-container">
  <div class="modal">
    <div class="modal-content">
      <a href="/"><span id="close-modal-btn">&#88</span></a>
      <div class="form">
        <form action="/" method="POST">
        {{> form}}
        </form>
      </div>
    </div>
  </div>
</div>

